In [105]:
import os
import geopy
import pandas
from geopy.geocoders import ArcGIS

In [66]:
df=pandas.read_csv('supermarkets.csv')
df
df1
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [67]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [68]:
df3['Address']=df['Address']+', '+df['City']+', '+df['State']+', '+df['Country']
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [107]:
nom=ArcGIS()

In [31]:
df['Coordinates']=df['Address'].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [35]:
df.Coordinates[0].longitude

-122.42937496976432

In [38]:
df['Latitude']=df['Coordinates'].apply(lambda x: x.latitude)
df['Longitude']=df['Coordinates'].apply(lambda x: x.longitude)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [69]:
df3= df.drop('Coordinates', 1)
df3

KeyError: "['Coordinates'] not found in axis"

In [40]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [41]:
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [42]:
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [70]:
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [76]:
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229

In [77]:
df3_t=df3.T
df3_t

,0,1,2,3,4,5
ID,1,2,3,4,5,6
Address,"3666 21st St, San Francisco, CA 94114, USA","735 Dolores St, San Francisco, CA 94119, USA","332 Hill St, San Francisco, California 94114, USA","3995 23rd St, San Francisco, CA 94114, USA","1056 Sanchez St, San Francisco, California, USA","551 Alvarado St, San Francisco, CA 94114, USA"
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
Country,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
Employees,8,15,25,10,12,20
Coordinates,"(3666 21st St, San Francisco, California, 9411...","(735 Dolores St, San Francisco, California, 94...","(332 Hill St, San Francisco, California, 94114...","(3995 23rd St, San Francisco, California, 9411...","(1056 Sanchez St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9..."
Latitude,37.7566,37.7578,37.7559,37.7529,37.7521,37.7535
Longitude,-122.429,-122.425,-122.429,-122.432,-122.43,-122.433

In [84]:
df3_t[6]=[7,'4058 Ben Lomond Dr, Palo Alto, CA 94306, USA','Palo Alto', 'CA 94306', 'USA', 'Piazzas Market', 45,'','','']
df3_t

,0,1,2,3,4,5,6
ID,1,2,3,4,5,6,7
Address,"3666 21st St, San Francisco, CA 94114, USA","735 Dolores St, San Francisco, CA 94119, USA","332 Hill St, San Francisco, California 94114, USA","3995 23rd St, San Francisco, CA 94114, USA","1056 Sanchez St, San Francisco, California, USA","551 Alvarado St, San Francisco, CA 94114, USA","4058 Ben Lomond Dr, Palo Alto, CA 94306, USA"
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Palo Alto
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,CA 94306
Country,USA,USA,USA,USA,USA,USA,USA
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,Piazzas Market
Employees,8,15,25,10,12,20,45
Coordinates,"(3666 21st St, San Francisco, California, 9411...","(735 Dolores St, San Francisco, California, 94...","(332 Hill St, San Francisco, California, 94114...","(3995 23rd St, San Francisco, California, 9411...","(1056 Sanchez St, San Francisco, California, 9...","(551 Alvarado St, San Francisco, California, 9...",
Latitude,37.7566,37.7578,37.7559,37.7529,37.7521,37.7535,
Longitude,-122.429,-122.425,-122.429,-122.432,-122.43,-122.433,

In [85]:
df3=df3_t.T
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.7566,-122.429
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.7578,-122.425
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.7559,-122.429
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.7529,-122.432
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.7521,-122.43
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.7535,-122.433
6,7,"4058 Ben Lomond Dr, Palo Alto, CA 94306, USA",Palo Alto,CA 94306,USA,Piazzas Market,45,,,

In [100]:
df3['Coordinates']=df['Address'].apply(nom.geocode)
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(Travessa da Santa 21, 4740-451, Santa, Espose...",37.7566,-122.429
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(State Line, Dove Creek, Colorado, 81324, (37....",37.7578,-122.425
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Connaught, (53.88333000000006, -...",37.7559,-122.429
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, (-38.59906999999998, 145.59603963000006))",37.7529,-122.432
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(Sanchez, (19.23073000000005, -69.612949999999...",37.7521,-122.43
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarados, Zacatecas, (23.382180000000062, -1...",37.7535,-122.433
6,7,"4058 Ben Lomond Dr, Palo Alto, CA 94306, USA",Palo Alto,CA 94306,USA,Piazzas Market,45,NaN,,

In [101]:
df3['Coordinates']

0    (Travessa da Santa 21, 4740-451, Santa, Espose...
1    (State Line, Dove Creek, Colorado, 81324, (37....
2    (Hill Street, Connaught, (53.88333000000006, -...
3     (3995, (-38.59906999999998, 145.59603963000006))
4    (Sanchez, (19.23073000000005, -69.612949999999...
5    (Alvarados, Zacatecas, (23.382180000000062, -1...
6                                                  NaN
Name: Coordinates, dtype: object

In [102]:
df3['Coordinates']=df3['Address']

In [103]:
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"3666 21st St, San Francisco, CA 94114, USA",37.7566,-122.429
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St, San Francisco, CA 94119, USA",37.7578,-122.425
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"332 Hill St, San Francisco, California 94114, USA",37.7559,-122.429
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St, San Francisco, CA 94114, USA",37.7529,-122.432
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"1056 Sanchez St, San Francisco, California, USA",37.7521,-122.43
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St, San Francisco, CA 94114, USA",37.7535,-122.433
6,7,"4058 Ben Lomond Dr, Palo Alto, CA 94306, USA",Palo Alto,CA 94306,USA,Piazzas Market,45,"4058 Ben Lomond Dr, Palo Alto, CA 94306, USA",,

In [108]:
df3['Coordinates']=df3['Coordinates'].apply(nom.geocode)
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.7566,-122.429
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.7578,-122.425
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.7559,-122.429
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.7529,-122.432
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.7521,-122.43
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.7535,-122.433
6,7,"4058 Ben Lomond Dr, Palo Alto, CA 94306, USA",Palo Alto,CA 94306,USA,Piazzas Market,45,"(4058 Ben Lomond Dr, Palo Alto, California, 94...",,

In [109]:
df3['Latitude']=df3['Coordinates'].apply(lambda x: x.latitude)
df3['Longitude']=df3['Coordinates'].apply(lambda x: x.longitude)
df3

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756648,-122.429375
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757819,-122.425337
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755875,-122.428816
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752922,-122.431697
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752131,-122.430028
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753511,-122.433229
6,7,"4058 Ben Lomond Dr, Palo Alto, CA 94306, USA",Palo Alto,CA 94306,USA,Piazzas Market,45,"(4058 Ben Lomond Dr, Palo Alto, California, 94...",37.411740,-122.111824